@import "tailwindcss";
@import "../../mynd/css/design-system.css";
@import "../../mynd/css/shell.css";
@import "../../mynd/css/components.css";

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  /* Grid Background Pattern */
  .grid-pattern {
    background-size: 40px 40px;
    background-image: 
      linear-gradient(to right, rgba(0, 0, 0, 0.05) 1px, transparent 1px),
      linear-gradient(to bottom, rgba(0, 0, 0, 0.05) 1px, transparent 1px);
    background-position: center center;
  }
}
