@import "tailwindcss";


@layer base {
  :root {
    --background: #f9fafb;
    --foreground: #111827;
    
    /* We don't need dark mode variables if we are going full light theme */
    
    --radius: 0.5rem;
  }

  body {
    @apply bg-[var(--background)] text-[var(--foreground)] antialiased;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  /* Grid Background Pattern */
  .grid-pattern {
    background-size: 40px 40px;
    background-image: 
      linear-gradient(to right, rgba(0, 0, 0, 0.05) 1px, transparent 1px),
      linear-gradient(to bottom, rgba(0, 0, 0, 0.05) 1px, transparent 1px);
    background-position: center center;
  }
}
